html {
  background: beige;
}

body {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  column-span: all;
  font-size: 10vw;
  margin: 0.5rem 0 2rem 0;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1rem double black;
  font-weight: 900;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 130px;
  }
}

h2 {
  color: red;
  font-size: 2rem;
  line-height: 100%;
}

p {
  margin: 0 0 1.5rem 0;
}

h1 + p::first-letter,
h2 + p::first-letter {
  color: beige;
  background-color: black;
  border-radius: 4px;
  box-shadow: 3px 3px 0 red;
  font-size: 250%;
  padding: 0 0.5rem;
  margin-right: 0.75rem;
  float: left;
  transition: 1s;
}

h2 + p {
  margin-top: 1rem;
}

article {
  columns: 25ch auto;
  gap: 1rem;
  border-bottom: 1rem solid black;
  padding-bottom: 2rem;
}

aside {
  font-size: 0.8rem;
  font-style: italic;
  margin-left: 1rem;
}

/* ------- Osmo [https://osmo.supply/] ------- */
/* Osmo UI: https://slater.app/10324/23333.css */

body {
  background-color: var(--color-neutral-300);
  color: var(--color-dark);
  font-size: var(--size-font);
  font-family: Arial, sans-serif;
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.nav-wrap {
  z-index: 100;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: fixed;
  inset: 0 0 10vh;
}

.nav-list {
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  font-size: 1.4vw;
}

.nav-item {
  justify-content: center;
  align-items: center;
  width: 5em;
  transition: width 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  position: relative;
}

.nav-item.hover {
  width: 8em;
}

.nav-item.sibling-close {
  width: 7em;
}

.nav-item.sibling-far {
  width: 6em;
}

.nav-item__link {
  z-index: 1;
  pointer-events: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  position: relative;
}

.image {
  object-fit: contain;
  width: 100%;
}

.nav-item__tooltip {
  z-index: 0;
  background-color: var(--color-neutral-100);
  opacity: 0;
  white-space: nowrap;
  border-radius: 0.25em;
  padding: 0.4em 0.5em;
  font-size: 1em;
  transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  top: 0;
  transform: translate(0, -80%);
  font-weight: 400;
}

.nav-item:hover .nav-item__tooltip {
  opacity: 1;
  transform: translate(0px, -140%);
}
